In [2]:
import sys
import numpy as np
import pandas as pd
print(pd.__version__)

0.20.3

# Index

Simple way of naming columns

In [4]:
pd.Index

pandas.core.indexes.base.Index

In [5]:
pd.Series

pandas.core.series.Series

In [6]:
series = pd.Series(['a','b','c'])

In [7]:
series

0    a
1    b
2    c
dtype: object

In [9]:
series.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
series.values

array(['a', 'b', 'c'], dtype=object)

In [12]:
series = pd.Series(np.arange(26))
series

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

In [13]:
import string

In [14]:
lc = string.ascii_lowercase
uc = string.ascii_uppercase

In [15]:
print(lc, uc)

abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [16]:
print(list(lc))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [17]:
series.index = list(lc)

In [18]:
series

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [22]:
series.ix['p':'z']

p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [23]:
series.ix['x']

23

In [24]:
pd.DataFrame

pandas.core.frame.DataFrame

In [27]:
letters = pd.DataFrame([list(uc), list(lc), list(range(26))])

In [28]:
letters

  0  1  2  3  4  5  6  7  8  9  ...  16  17  18  19  20  21  22  23  24  25
0  A  B  C  D  E  F  G  H  I  J ...   Q   R   S   T   U   V   W   X   Y   Z
1  a  b  c  d  e  f  g  h  i  j ...   q   r   s   t   u   v   w   x   y   z
2  0  1  2  3  4  5  6  7  8  9 ...  16  17  18  19  20  21  22  23  24  25

[3 rows x 26 columns]

In [29]:
letters.transpose()

    0  1   2
0   A  a   0
1   B  b   1
2   C  c   2
3   D  d   3
4   E  e   4
5   F  f   5
6   G  g   6
7   H  h   7
8   I  i   8
9   J  j   9
10  K  k  10
11  L  l  11
12  M  m  12
13  N  n  13
14  O  o  14
15  P  p  15
16  Q  q  16
17  R  r  17
18  S  s  18
19  T  t  19
20  U  u  20
21  V  v  21
22  W  w  22
23  X  x  23
24  Y  y  24
25  Z  z  25

In [30]:
letters = letters.transpose()
letters.index

RangeIndex(start=0, stop=26, step=1)

In [31]:
letters.columns

RangeIndex(start=0, stop=3, step=1)

In [38]:
letters.columns = ['uppercase','lowercase','number']

In [36]:
letters.head(2)

  lowercase uppercase number
0         A         a      0
1         B         b      1

In [39]:
letters.lowercase

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: lowercase, dtype: object

In [40]:
letters.lowercase == letters['lowercase']

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
Name: lowercase, dtype: bool

In [42]:
type(letters.lowercase)

pandas.core.series.Series